*, *::before, *::after {
	box-sizing: border-box;
}
@font-face {
	font-family: Pacifico;
	src: url(fonts/pacifico.ttf)
}
@font-face {
	font-family: Inconsolata;
	src: url(fonts/inconsolata.ttf)
}
body{
	font-family: Calibri;
	font-size: 1.25rem;
	margin: 0;
}
img {
	max-width: 100%;
}
.backg {
	background-image: url(img/restaurant-smallScreens.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.hero {
	background:rgba(158, 106, 106, 0.2);
	min-height: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header hgroup {
	text-align: center;
	line-height: 5px;
	color: #fff;
}
header h1 {
	font-family: Pacifico, cursive;
	font-size: 4.2rem;
}
header h3 {
	margin-top: 0;
	font-family: Inconsolata;
	font-weight: 200;
	font-size: 1.6rem;
	letter-spacing: 6px;
	text-transform: uppercase;
}
nav {
	padding: 0;
	margin: 0;
}
nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
nav hr {
	color: #fff;
	border-style: solid;
}
nav li {
	width: 100%;
}
nav button {
	width: 100%;
	border: none;
	background: rgb(189, 79, 79);
	padding: .8em;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
section {
	padding: 1em 0;
}
.sectTitle {
	text-align: center;
	font-family: Pacifico;
	margin-bottom: .4em;
	color: rgb(74, 83, 133);
	font-size: 1.6rem;
}
.underlineTitle {
	width: 80px;
	margin: 0 auto 1.5em auto;
	border-color: rgb(189, 79, 79);
}
section#one #textFlex {
	max-width: 600px;
	margin: 0 auto;
}
section#one .card {
	color: white;
	max-width: 350px;
	padding: .5em;
	margin: 0 auto 1em auto;
	background-color: rgba(93, 170, 180, 0.808);
}
section#one .data {
	margin: 0;
	text-align: center;
}
section#one #map {
	display: block;
	width: 100%;
	max-width: 500px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid rgba(173, 169, 169, 0.801);
}
section#two {
	padding-top: 2.5em;
}
section#two .card {
	background-color: rgba(248, 248, 228, 0.774);
	border-radius: 10px;
	max-width: 300px;
	margin: 0 auto;
	padding: 1em;
	box-shadow: 0 0 10px rgba(114, 111, 111, 0.651);
}
section#two .sectTitle {
	margin-top: 0;
}
section#two #foodMenu {
	margin: 0 auto;
	padding: 0;
	width:80%;
}

section#two .aviso {
	font-family: Inconsolata;
	font-size: 1.4rem;
	text-align: center;
	color: #555;
	max-width: 300px;
}
section#two span.foco {
	color: red;
	text-transform: uppercase;
}

#foodMenu li {
	font-family: Inconsolata;
	font-size: 1.5rem;
	border-bottom: 1px solid rgba(93, 170, 180, 0.808);
	padding: .4em 0 .2rem .2rem;
	margin: 0;
}


section#four table {
	margin: 0 auto;
	width: 100%;
	max-width: 320px;
}
section#four tr {
	background: rgb(189, 79, 79);
	padding: 1em;
	color: white;
}
section#four td {
	padding: .5em;
}
section#four td.price {
	text-align: right;
}

section#three {
	margin-bottom: 1.5em;
}
section#three .inlining {
	display: flex;
	justify-content: center;
	align-items: center;
}
#whatsIcon {
	margin-right: .3em;
}
a#whatsapp {
	display: block;
	padding: .5em;
	border: none;
	color: white;
	background: #25d366;
	border-radius: 5px;
	margin: 0 auto;
	font-size: 1.4rem;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	max-width: 150px;
}
footer {
	margin-bottom: 1.2em;
}
footer p {
	text-align: center;
	color:rgba(82, 78, 78, 0.6);
	font-size: .9rem;
}
footer a {
	color: inherit;
}

@media (min-width: 500px) {
	.backg {
		background-image: url(img/restaurant-mediumScreens.png);
	}
}

@media (min-width: 700px) {
	.backg {
		background-image: url(img/restaurant-bigScreens.png);
	}
	nav ul li{
		width: initial;
		padding: 1em;
	}
	nav hr {
		display: none;
	}
	nav ul {
		background: rgb(189, 79, 79);
		justify-content: center;
	}
	.navButton {
		padding: 0;
		font-size: 1.2rem;
	}
	.sectTitle {
		font-size: 1.8rem;
	}
	section#one #textFlex {
		display: flex;
		justify-content: center;
	}
	section#one .card {
		width: 45%;
		padding: 1em;
		margin-bottom: 1em;
		border-radius: 5px;
	}
	.card + .card {
		margin-left: .5em;
	}
	section#one #map {
		max-width: 600px;
	}
	div#sectionContainer {
		display: flex;
		max-width: 600px;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
	}
	section#two {
		width: 45%;
	}
	section#four {
		width: 50%;
	}
	footer {
		margin-bottom: 2em;
	}
}

@media (min-width: 900px) {
	.backg {
		background-image: url(img/restaurant-largeScreens.png);
	}
	#bigScreen-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	section#one {
		width: 60%;
	}
	section#one .underlineTitle {
		margin-bottom: 2em;
	}
	section#one .card {
		margin-bottom: 2em
	}
	section#one #map {
		width: 90%;
	}
	section#two, section#four {
		width: 100%;
		padding-bottom: 0;
	}
	section#four .sectTitle {
		margin-top: .2em;
	}
	section#two .underlineTitle,
	section#four .underlineTitle {
		margin-bottom: 1em;
	}
	div#sectionContainer {
		width: 35%;
		flex-direction: column;
		justify-content: space-around;
	}
	footer {
		margin-top: 2.5em;
		margin-bottom: 1.5rem;
	}
	footer p {
		font-size: 1rem;
	}
}

@media (min-width: 1000px) {
	nav ul li {
		padding-left: 2em;
		padding-right: 2em;
	}
}